<?php if (empty($this->twitter['screen_name'])) {
    ?>
<div class="jumbotron">

    <h1>Encontre no <span class="zf-blue">Twitter</span></h1>
    <p>
        <b>Parabéns!</b> Você é uma pessoa de sorte, por acessar este link, você ganhou o direito de buscar os dados de
        sua personalidade favorita.
    </p>
</div>
<?php
}
if (!empty($this->twitter['screen_name'])) {
    ?>
<div class="jumbotron" style="background: #fff url(<?= $this->twitter['profile_banner_url']; ?>) no-repeat;background-size: 100% 200px; ">
    <div>
        <button type="button" class="btn badge-light" style="background: #<?= $this->twitter['profile_sidebar_border_color']; ?>">
            Tweetes
            <span class="badge badge-light" style="background: #<?= $this->twitter['profile_link_color']; ?>">
                <?= $this->twitter['statuses_count']; ?>
            </span>
        </button>
        <button type="button" class="btn badge-light" style="background: #<?= $this->twitter['profile_sidebar_border_color']; ?>">
            Seguindo
            <span class="badge badge-light" style="background: #<?= $this->twitter['profile_link_color']; ?>">
                <?= $this->twitter['friends_count']; ?>
            </span>
        </button>
        <button type="button" class="btn badge-light" style="background: #<?= $this->twitter['profile_sidebar_border_color']; ?>">
            Seguidores
            <span class="badge badge-light" style="background: #<?= $this->twitter['profile_link_color']; ?>">
                <?= $this->twitter['followers_count']; ?>
            </span>
        </button>

        <a href="https://twitter.com/<?= $this->twitter['screen_name']; ?>">
            <img src="https://s18955.pcdn.co/wp-content/uploads/2017/05/Twitter.png" width='80' class="pull-right" style="margin-top: -20px;"></a>
    </div>

    <h2 style=" color: #<?= $this->twitter['profile_text_color']; ?>;">@<?= $this->twitter['screen_name']; ?> - <?= $this->twitter['name']; ?></h2>
    <p><?= $this->twitter['description']?></p>

    <p>Url:  <a href="<?= $this->twitter['url']; ?>"><?= $this->twitter['url']; ?></a></p>

    <p>Localização: <a href="https://www.google.com.br/maps/place/<?= str_replace('ÜT: ', '', $this->twitter['location']); ?>"><?= $this->twitter['location']; ?></a></p>
</div>
<?php
}
?>
